<div class="sidebar py-5">

    <a href="{{ url_for('dashboard') }}" class="sidebar-item-link">
        <div class="has-text-centered sidebar-item p-3">
            <i class="fas fa-home has-text-white sidebar-item-icon"></i>
        </div>
    </a>

    <a href="{{ url_for('chat') }}" class="sidebar-item-link">
        <div class="has-text-centered sidebar-item p-3">
            <i class="fas fa-comment-dots has-text-white sidebar-item-icon"></i>
        </div>
    </a>

    <a href="{{ url_for('commands') }}" class="sidebar-item-link">
        <div class="has-text-centered sidebar-item p-3">
            <i class="fas fa-code has-text-white sidebar-item-icon"></i>
        </div>
    </a>


</div>
