<nav class="mobile-navbar" role="navigation" aria-label="main navigation">


    <a href="{{ url_for('dashboard') }}" class="navbar-item-link">
        <div class="has-text-centered navbar-item">
            <i class="fas fa-home has-text-white navbar-item-icon"></i>
        </div>
    </a>

    <a href="{{ url_for('chat') }}" class="navbar-item-link">
        <div class="has-text-centered navbar-item">
            <i class="fas fa-comment-dots has-text-white navbar-item-icon"></i>
        </div>
    </a>

    <a href="{{ url_for('commands') }}" class="navbar-item-link">
        <div class="has-text-centered navbar-item">
            <i class="fas fa-code has-text-white navbar-item-icon"></i>
        </div>
    </a>


</nav>
