{% extends "templates/dashboard-template.html" %}
{% from "chat/_helper.html" import render_field %}
{% from "chat/_boxdisplay.html" import render_box %}

{% block new_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/_helper.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/_boxdisplay.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/commands.css') }}">
{% endblock %}

{% block content %}

<div>
	<div class="mb-4">
		{% if not active %}
		<div class="is-clickable" onclick="changeModalDisplay()">
			<i class="fas fa-plus"></i>
			ADD COMMAND
		</div>
		{% endif %}

		<form id="command-panel" class="command-panel" method="POST" action="/commands">
			<input name="title" placeholder="Command title" />
			<input name="description" placeholder="Command description" />
			<input name="trigger_phrase" placeholder="Command trigger phrase" />

			{% if not active %}

			<div style="position: relative; height: 300px;" id="editor"></div>
			<textarea name="code"></textarea>
			<button class="button is-info" type="submit">Add</button>
			<textarea name="code"></textarea>
			{% endif %}
		</form>
	</div>

	<div class="columns">
		<div class="column {% if active %}is-3{% else %}is-12{% endif %}">
			<div>
				{% for command in commands %}
				{{ render_field(command.title, active and active.title == command.title, 'commands', 'command',
				command.title) }}
				{% endfor %}
			</div>
		</div>

		<div class="column">
			{{ render_box("Description", active.description, "description") }}
			{{ render_box("Trigger phrase", active.trigger_phrase, "trigger_phrase") }}
			<div style="position: relative; height: 300px;" id="editor">{{ active.code }}</div>
			<div class="control" id="update-button" onclick="updateClick( {{ active.id }} )">
				<a class="button is-info">
					Submit
				</a>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block script %}
<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous" integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU="></script>
<script src="{{ url_for('static', filename='js/commands.js') }}"></script>
<script>
	ace.config.set('basePath', 'path')
	var editor = ace.edit("editor");
	
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");

	 var textarea = $('textarea[name="code"]').hide();
	editor.getSession().setValue(textarea.val());
	editor.getSession().on('change', function(){
	  textarea.val(editor.getSession().getValue());
	}); 


</script>
{% endblock %}