{% extends "templates/dashboard-template.html" %}

{% block content %}

<h1 class="title is-1">Placeholder</h1>

<p>;enfe efefe ef efe fe f e fe f e fe fe f e f ef e f fe fe</p>

<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>


<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1><h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1><h1 class="title is-1">Placeholder</h1><h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>
<h1 class="title is-1">Placeholder</h1>

{% endblock %}
